
.miDivision{
    border: black solid 5px;
    background-color: crimson;
    width: 800px;
    margin: 0 auto;
   
}

.inputText{
    background-color: mistyrose;
    width: 180px;
    margin: 5px;
}

.operButton{
    margin: 20px;
    background-color: rgb(12, 160, 86);
    border-style: solid;
    border-color: black;
    width: auto;
    height: 35;
    font-size: 30px;
    font-family: cursive;
}



#resultado{
    font-size: 80px;
    font-family: fantasy;
    color: goldenrod;
    width: 80px;
    margin: 0 auto;

}